footer {
    width: 80%;
    margin: 60px auto 0 auto;
    border-top: 1px solid #999;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #999;
    padding: 20px 40px;
    gap: 30px;
    text-align: justify;
}

.footer-container div {
    flex: 1;
    min-width: 250px;
}

.footer-about {
    text-align: justify;
    line-height: 1.8;
}

.footer-links {
    text-align: center;
}

footer h3{
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #999;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #fff;
}

.footer-social {
    text-align: center;
}

.footer-social .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-social .social-icons li {
    display: inline-block;
}

.footer-social .social-icons li a {
    color: #999;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.footer-social .social-icons li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0 0 0;
    color: #999;
    font-size: 0.9em;
    border-top: 1px solid #999;
}

/* Styles for screens 768px and below */
@media (max-width: 768px) {
    footer {
        width: 90%;
        margin: 40px auto 0 auto;
    }

    .footer-container {
        flex-direction: column;
        text-align: justify;
        padding: 20px;
        gap: 20px;
    }

    .footer-container div {
        min-width: 100%;
    }

    .footer-links h3 {
        margin-bottom: 20px;
    }

    .footer-social h3 {
        margin-bottom: 20px;
    }

    .footer-links ul li {
        padding: 4px;
        margin-bottom: 5px;
    }

    .footer-bottom {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    footer {
        width: 95%;
        margin: 30px auto 0 auto;
    }

    .footer-container {
        padding: 10px;
        gap: 15px;
    }


    .footer-links h3 {
        margin-bottom: 10px;
    }

    .footer-social h3 {
        margin-bottom: 10px;
    }

    .footer-links ul li {
        padding: 4px;
        margin-bottom: 3px;
    }

    .footer-bottom {
        font-size: 0.7em;
    }

    .footer-social .social-icons li a {
        font-size: 1.2em;
    }
}