body {
  margin: 0;
  width: 100%;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(90deg, #0735a1, #c1076a);
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, #0735a1, #c1076a);
  color: #f4f4f9;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s ease-in-out;
  margin-bottom: 200px;
  overflow: visible;

}

header .image {
  width: 25%;
  float: left;
  display: flex;
  width: 100px;
  margin-left: 20px;
}

.image img {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header h1 {
  float: left;
  display: flex;
  width: 50%;
  color: rgb(240, 232, 220);
  justify-content: center;
}

.navlinks {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 36px;
}

.navlinks>nav>ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.navlinks>nav>ul>li {
  position: relative;
  margin: 0 20px;
}

.navlinks>nav>ul>li a {
  color: #f4f4f9;
  text-decoration: none;
  font-size: 1.375rem;
  padding: 22px 10px;
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 1;
}

.navlinks>nav>ul>li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00e1ff;
  transition: width 0.3s ease;
}

.navlinks>nav>ul>li:hover>a {
  color: #00e1ff;
  z-index: 10;
  transform: scale(1.1);
}

.navlinks>nav>ul>li a:hover::after {
  width: 100%;
}

.navlinks .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  padding: 10px 0;
  min-width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.navlinks .has-submenu:hover .submenu {
  display: block;
}

.navlinks .submenu li {
  list-style: none;
}

.navlinks .submenu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #f4f4f9;
  font-size: 1.375rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.navlinks .submenu li a:hover {
  color: #00e1ff;
}


.social-buttons {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.social-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.social-buttons a:hover {
  transform: scale(1.1);
}


.social-buttons a .bxl-github {
  font-size: 35px;
}

.social-buttons a .bxl-linkedin {
  font-size: 35px;
  color: #0077b5;
}

.social-buttons a:hover .bxl-linkedin {
  color: #005582;
}

.title h2 {
  margin-top: 0;
  text-align: center;
  color: rgb(240, 232, 220);
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

main {
  margin-top: 50px;
  padding: 20px;
}